@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}

button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  background-color: transparent;
  color: #1a8ed1;
  border: 1px solid #1a8ed1;
}

button:hover,
button:active {
  background-color: #1ac5d1;
  border-color: #1ac5d1;
  color: white;
}

.cartOpen {
  animation: cartIn 0.7s ease-out forwards;
}
.cartClose {
  height: 0;
  animation: cartOut 0.7s ease-out forwards;
}

@keyframes cartIn {
  0% {
    opacity: 0;
    transform: translateY(-40%);
    padding: 0 1rem;
    margin: 0 auto;
  }
  /* 50% {
    opacity: 1;
    height: auto;
    transform: translateY(-10%);
  } */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes cartOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
    height: 0;
    padding: 0 1rem;
    margin: 0 auto;
    transform: translateY(-60%);
  }
}
